.circleBlue {
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    border: 2px solid black;
    background-color: blue; /* default color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
    font-weight: bold;
    color: rgb(219, 219, 219); /* Set the text color */
    padding: 25px; /* Add padding to create space between text and border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin:25px;
}
.circleBlue:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Change shadow on hover */
    color: white; 
    transform: scale(1.1); 
    transition: all 0.3s ease; 
}

.circleRed {
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    border: 2px solid black;
    background-color: rgb(255, 0, 0); /* default color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
    font-weight: bold;
    color: rgb(219, 219, 219); /* Set the text color */
    padding: 5%; /* Add padding to create space between text and border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin:25px;
}

.circleRed:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Change shadow on hover */
    color: white; 
    transform: scale(1.1); 
    transition: all 0.3s ease; 
}